[submodule "sw/capstone-c"]
	path = sw/capstone-c
	url = https://github.com/jasonyu1996/capstone-c.git
[submodule "sw/buildroot"]
	path = sw/buildroot
	url = https://github.com/project-starch/captainer-buildroot.git
[submodule "hw/anvil"]
	path = hw/anvil
	url = https://github.com/kisp-nus/anvil.git
[submodule "hw/rtl"]
	path = hw/rtl
	url = https://github.com/project-starch/caplifive-cva6.git
[submodule "hw/qemu"]
	path = hw/qemu
	url = https://github.com/project-starch/caplifive-qemu.git
